@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:100,200,300,400,500,600,700|Merriweather=100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-title-slogan {
    background-color: #0066cc;
}

.ui-menu-color {
    background-color: #0066cc;
}

/*--------------------------------------------Extra*/

h1,h2,h3,h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: 'Ibarra Real Nova';
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    padding: 10px;
    color: #fafafa;
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.logo {
    color: #fff;
}
.title {
    font-family: 'Ibarra Real Nova';
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}

@media(max-width: 768px) {
    .title {
        font-size: 37px;
        margin-top: 10px;
    }
}

.title:hover {
color: #fafafa;
text-decoration-line: underline;
}

.slogan {
    font-family: 'Ibarra Real Nova';
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    text-decoration: none;

}

.slogan:hover {
color: #fafafa;
text-decoration: none;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 10px;
}

#nav li:hover {
    background-color: #000099;
}

.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    color: #fff;
    height: 150px;
}

.menuitem a i {
    padding-top: 20px;
    display: block;
    color: #fff;
    font-size: 25px;
}

.menuitem span {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 22px;
    font-family: 'Ibarra Real Nova';
}

/*--------------------------------------------Index Section*/

.logo-image {
    width: auto ;
    max-width: 100% ;
    height: auto ;
}

.section-heading {
    margin-top: 60px;
}

.join-heading {
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 34px;
    color: #0066cc;
    padding-bottom: 5px;
}

.join-sub-heading {
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 22px;
    color: #595959;
    padding-bottom: 10px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 35px;
    margin-bottom: 60px;
    color: #fafafa;
    background-color: #0066cc;
}


/*--------------------------------------------Why Join Section*/

.sub-heading {
    margin: 10px;
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 20px;
    color: #0066cc;
    }

.sub-heading-p {
    text-align: center;
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 18px;
    color: #595959;
    padding-bottom: 30px;
}

.benefits-heading {
    margin: 20px;
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    color: #0066cc;
}

.benefits-item {
    list-style: none;
    text-align: center;
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 22px;
    color: #0066cc;
}

.benefits-info {
    text-align: center;
    margin: 15px;
    color: #595959;   
}

.why-join-image {
    width: auto;
    max-width: 100% ;
    height: auto;
    margin-top: 20px;
}

@media(max-width: 992px) {
    .why-join-image {
        padding-top: 130px;
    }
}

@media(max-width: 576px) {
    .why-join-image {
        padding-top: 0;
    }
}

/*--------------------------------------------Activities Section*/

.heading-activities {
    margin: 20px;
    margin-bottom: 30px;
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    color: #0066cc;
}

.heading-activity {
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
    color: #595959;
}

.activity-p {
    font-family: 'Merriweather';
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #595959;
    padding-bottom: 10px;
}

.border-subheading {
    border-bottom: 5px solid;
    border-bottom-color: #595959;
    margin-bottom: 10px;
}

.football-image {
    height: auto;
    width: auto;
    max-width: 100% ;
    margin: 10px;
}

.volleyball-image {
    height: 240px;
    width: 600px;
    max-width: 100%;
    margin: 5px;
    margin-left: 20px;
}

@media(max-width: 992px) {
    .volleyball-image {
        width: 700px;
    }
}

@media(max-width: 576px) {
   .volleyball-image {
       height: auto;
       padding-right: 20px;   
    }
}

.dance-fitness-image {
    width: 625px;
    max-width: 100% ;
    height: 300px;
    margin: 5px;
}

@media(max-width: 992px) {
    .dance-fitness-image {
        width: 700px;
    }
}

@media(max-width: 576px) {
   .dance-fitness-image {
       height: auto;
       padding-right: 20px;   
    }
}

.boxing-image {
    width: 625px;
    max-width: 100% ;
    height: 300px;
    margin: 5px;
}

@media(max-width: 992px) {
    .boxing-image {
        width: 700px;
    }
}

@media(max-width: 576px) {
   .boxing-image {
       height: auto;
       padding-right: 20px;   
    }
}

.pt-sessions-image {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 5px;
}

@media(max-width: 992px) {
    .pt-sessions-image{
        width: 700px;
    }
}

/*--------------------------------------------Contact Us*/

.contact-heading {
    margin: 20px;
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    color: #0066cc;
    padding-bottom: 10px;
}

.contact-sub-heading {
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 22px;
    color: #595959;
    text-align: center;
    padding-bottom: 5px;
    text-decoration: underline;
}

.contact-details {
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    color: #595959;
}

.contact-border {
    border: 4px solid;
    border-color: #595959;
    margin: 10px;
    padding: 10px;
    margin-bottom: 40px;
}

.questions-heading {
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #595959;
}

.questions-sub-heading {
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: 23px;
    color: #595959;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

/*--------------------------------------------Footer*/

footer {
    background-color: hsl(210, 100%, 40%);
    color: #fafafa;
    margin: 15px;
    min-width: 40px;
    margin: 0;
}

.social-links {
    padding-bottom: 10px; 
}

.social-links li a i {
    width: 34px;
    height: 34px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 40px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #0066cc;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #000099;
}

#footor-details {
    text-align: center;
}
